@page "/about"
@inherits EngineBase
@{ PageTitle = "About"; }

<h1>About</h1>
<p>The HEMA Drill Book is a research tool designed to help instructors and their students locate and share information about plays.</p>
<p>
    The HEMA Drill Book is supported by:
    <ul>
        <li><a href="https://www.scholarsofalcala.org/" target="_blank">The Scholars of Alcala</a></li>
    </ul>
</p>
<p>Submit suggestions and corrections to <a href="https://github.com/Grauenwolf/HemaDrillBook/issues" target="_blank">GitHub</a>.</p>
