@page "/b"
@inherits BookListBase

@if (Books != null)
{
    foreach (var book in Books)
    {
        <h3><a href="/b/@book.BookSlug">@book.BookName</a> by @book.AuthorName</h3>
    }
}
else if (LoadFailed)
{
    <h1>Error loading page.</h1>
}
else
{
    <h1>Loading</h1>
}
