@page "/b"
@inherits BookListBase

@if (Model != null)
{
    foreach (var book in Model)
    {
        <h3><a href="@book.BookUrlFragment">@book.BookName</a> by @book.AuthorName</h3>
    }
}
else if (LoadFailed)
{
    <h1>Error loading page.</h1>
}
else
{
    <h1>Loading</h1>
}
