@page "/"
@inherits IndexBase

@if (User != null)
{
    <h3>
        Hello @(string.IsNullOrEmpty(User.DisplayName) ? User.UserName : User.DisplayName)!
    </h3>}
else
{
    <h2>Hello Fencers!</h2>
}

<p>Welcome to the HEMA Drill Book. With this tool you can search for drills, watch videos, read and share commentary, and ask questions about the text.</p>

@if (Model != null)
{
    foreach (var book in Model)
    {
        <h3><a href="@book.BookUrlFragment">@book.BookName</a> by @book.AuthorName</h3>
    }
}
else if (LoadFailed)
{
    <h1>Error loading page.</h1>
}
else
{
    <h1>Loading</h1>
}

<p> If you don't see the manual you're looking for, considering volunteering. Open a ticket on <a href="https://github.com/Grauenwolf/HemaDrillBook/issues" target="_blank">GitHub</a> with the name of the book you want to add.</p>
