@page "/"
@inject AuthenticationStateProvider AuthState

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <div>You are logged in as @context.User.Identity.Name</div>
    </Authorized>
    <NotAuthorized>
        <div>Login to add your own commentary.</div>
    </NotAuthorized>
</AuthorizeView>
